.h2 { 
    background-color: red;
}
.float {

    background-color: rgb(30, 255, 0)
}
.Name-product {

    background-color: aquamarine;
}

.About-Product {

    background-color: rgb(255, 255, 255)
}
.Contacs{
    background-color: aquamarine;
}
.complex-form{
    text-align: center}
